header h1 {
    font-size: 2em;
}

.btn-primary {
    background-color: #f39c12; 
    border-color: #f39c12;
}

.btn-primary:hover {
    background-color: #e67e22; 
    border-color: #e67e22;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-text {
    font-size: 1em;
}

.card-text:last-child {
    color: #e74c3c;
}

footer p {
    font-size: 0.8em;
}

.card {
    margin-bottom: 20px;
}
